{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sample</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  <!-- React js 読み込み -->
  <script src="https://unpkg.com/react@latest/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="http://fb.me/JSXTransformer-0.13.3.js"></script>
  <!-- API 呼び出し（サンプル） -->
  <script>
  $(function() {
    $('#search').click(function() {
      $.getJSON('http://127.0.0.1:8000/api/books', {}).done(function(data) {
        $("#result").find("tr:ge(0)").remove();
        $("#result").append($("<tr></tr>")
          .append($("<th></th>").text("著者"))
          .append($("<th></th>").text("タイトル"))
          .append($("<th></th>").text("発行日時"))
          );
        for(var i = 0; i < data.length; i++) {
          $("#result").append($("<tr></tr>")
            .append($("<th></th>").text(data[i].author))
            .append($("<th></th>").text(data[i].title))
            .append($("<th></th>").text(data[i].publishedDate))
          );
        }
      });
    });
  });

  </script>
  </head>
<body>
<!-- ヘッダー -->
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">BOOK Manegerment</a>
  </div>
  <div class="collapse navbar-collapse" id="nav_target">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">検索</a></li>
      <li><a href="#">登録</a></li>
      <!-- 以下は作成箇所
      <li><a href="#">貸出</a></li>
      <li><a href="#">予約</a></li>
      -->
    </ul>
    <!-- 未作成
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">マイページ<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">履歴</a></li>
      </ul>
    </ul>
    -->
  </div>
</div>
</nav>　
</div>
  <form>
<div class="jumbotron">
  <div class="container">
    <h3>検索機能</h3>
    <form class="form-horizontal" role="form">
    <!-- input -->
    <div class="form-group">
      <label class="col-sm-2 control-label">タイトル</label>
    　<div class="col-sm-10">
        <input id="title" type="title" class="form-control" placeholder="タイトルを入力">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">著者</label>
    　<div class="col-sm-10">
        <input id="author" type="title" class="form-control" placeholder="著者を入力">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">ジャンル</label>
    　<div class="col-sm-10">
        <select id="category" class="form-control">
          <option value='1'>Python</option>
          <option value='2'>SQL</option>
          <option value='3'>ネットワーク</option>
          <option value='4'>アジャイル</option>
        </select>
      </div>
    </div>
    <script type="text/babel" src="{% static "react.js" %}"></script>
    <input id="search2" type="button" class="btn btn-default pull-right" value="検索" onClick="searchBook()" />
    <div id="result"></div>
  </div>
  </form>
  <table id="result" class="table table-striped"></table>
</body>
</html>
