{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sample</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  </head>
<body>
<!-- ヘッダー -->
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">BOOK Manegerment</a>
  </div>
  <div class="collapse navbar-collapse" id="nav_target">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">検索</a></li>
      <li><a href="#">登録</a></li>
      <li><a href="#">貸出</a></li>
      <li><a href="#">予約</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">マイページ<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">履歴</a></li>
      </ul>
    </ul>
  </div>
</div>
</nav>　
</div>
<div class="jumbotron">
  <div class="container">
    <h3>検索機能</h3>
    <form class="form-horizontal" role="form">
    <!-- input -->
    <div class="form-group">
      <label class="col-sm-2 control-label">タイトル</label>
    　<div class="col-sm-10">
        <input type="title" class="form-control" placeholder="タイトルを入力">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">著者</label>
    　<div class="col-sm-10">
        <input type="title" class="form-control" placeholder="著者を入力">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">ジャンル</label>
    　<div class="col-sm-10">
        <select class="form-control">
          <option>Python</option>
          <option>SQL</option>
          <option>ネットワーク</option>
          <option>アジャイル</option>
        </select>
      </div>
    </div>
  </div>
</body>
</html>
